# Cable Server Configuration

# Pprof Debugging
pprof: false

# Broker ID for cluster, default is 0 for auto mode
brokerid: 0

# Initial size of cluster
clusterSize: 1

# gRPC Server Port for API
grpcPort: 1887

# HTTP Server Port for API
httpPort: 1888

# Peer Port for Cluster Communication
peerPort: 4567

# Log Level: debug, info, warn, error
logLevel: "error"

# Log Format: text, json
logFormat: "text"

# Service Name
serviceName: cable

# Service Version
serviceVersion: 1.0.0

# Trace Configuration
trace:
  enabled: false
  otlpEndpoint: 172.16.2.123:4317

# Metrics Configuration
metrics:
  enabled: true
  interval: 10
  tenantID: cable
  otlpEndpoint: http://mimir.local/otlp/v1/metrics

# Kafka Configuration
kafka:
  enabled: false
  brokers:
    - "localhost:9092"
# Redis Configuration
# Redis is used for session management and message routing.
# If Addresses more than one, it will use redis cluster mode.
redis:
  enabled: false
  db : 0
  addresses: 
    - "localhost:6379"
  password: ""
  joinPrefix: "cable-user-join:"
  authPrefix: "cable-user-auth:"

# Auth Configuration
auth:
  method: "pass"

# Message Route Configuration
messageRoute:
  # Example message routes, adjust based on your actual message types
  0: 
    enabled: true
    resendType: "user"
    kafkaTopic: "cable-user-messages"
  1:
    enabled: true
    resendType: "channel"
    kafkaTopic: "cable-channel-messages"


# Listeners Configuration
listeners:
  - network: "ws"
    port: 1881
    queueSize: 1024
    autoStart: true
  - network: "wss"
    port: 1882
    queueSize: 1024
    autoStart: false
    tls:
      certFile: "cert.pem"
      keyFile: "key.pem"
  - network: "tcp"
    port: 1883
    queueSize: 1024
    autoStart: true
  - network: "tls"
    port: 1884
    queueSize: 1024
    autoStart: false
    tls:
      certFile: "cert.pem"
      keyFile: "key.pem"
  - network: "udp"
    port: 1885
    queueSize: 1024
    autoStart: true
  - network: "quic"
    port: 1886
    queueSize: 1024
    autoStart: false
    tls:
      certFile: "cert.pem"
      keyFile: "key.pem"

