# Cable Server Configuration

# Pprof Debugging
pprof: false

# Broker ID for cluster, default is 0 for auto mode
brokerid: 0

# Initial size of cluster
clusterSize: 1

# gRPC Server Port for API
grpcPort: 8880

# HTTP Server Port for API
httpPort: 8888

# Peer Port for Cluster Communication
peerPort: 4567

# Log Level: debug, info, warn, error
logLevel: "info"

# Redis Configuration
redis:
  password: ""
  addresses: 
    - "localhost:6379"
  userPrefix: "cable-user-channels:"

# Listeners Configuration
listeners:
  - network: "ws"
    port: 1881
    queueSize: 1024
    autoStart: true
  - network: "wss"
    port: 1882
    queueSize: 1024
    autoStart: false
    tls:
      certFile: "cert.pem"
      keyFile: "key.pem"
  - network: "tcp"
    port: 1883
    queueSize: 1024
    autoStart: true
  - network: "tls"
    port: 1884
    queueSize: 1024
    autoStart: false
    tls:
      certFile: "cert.pem"
      keyFile: "key.pem"
  - network: "udp"
    port: 1885
    queueSize: 1024
    autoStart: true
  - network: "quic"
    port: 1886
    queueSize: 1024
    autoStart: false
    tls:
      certFile: "cert.pem"
      keyFile: "key.pem"

# Kafka Brokers Configuration
kafkaBrokers:
  - "localhost:9092"

# Message Route Configuration
messageRoute:
  # Example message routes, adjust based on your actual message types
  0: 
    enabled: true
    resendType: "user"
    kafkaTopic: "cable-upstream-user"
  1:
    enabled: true
    resendType: "channel"
    kafkaTopic: "cable-upstream-group"
  
trace:
  enabled: true
  serviceName: cable
  otlpEndpoint: localhost:4317

metrics:
  enabled: true
  interval: 10
  serviceName: cable
  otlpEndpoint: localhost:4317