# Grafana Helm values
adminPassword: "admin"

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Mimir
        type: prometheus
        url: http://mimir-gateway/prometheus
        access: proxy
        isDefault: true
        jsonData:
          httpHeaderName1: "X-Scope-OrgID"
        secureJsonData:
          httpHeaderValue1: "cable"
      - name: Tempo
        type: tempo
        url: http://tempo:3200
        access: proxy

service:
  type: ClusterIP

ingress:
  enabled: false

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 1Gi
    cpu: 500m